{% extends 'base.html' %}
{% block content %}

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/styles.css">
<body>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>



<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  
  <div id="testThis">

    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

  </div>
</div>

<!-- Page Content -->
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
  </div>
</div>

<!-- <img src="https://d194ip2226q57d.cloudfront.net/original_images/Best_Summer_Stargazing" alt="Car" style="width:100%"> -->

<div class="w3-container">
<p>In this example, the sidebar is hidden (style="display:none")</p>
<p>It is shown when you click on the menu icon in the top left corner.</p>
<p>When it is opened, it hides all the page content (style.width="100%").</p>
</div>


<div class="loader"></div>

<script>

function w3_open() {

console.log("opening")
document.getElementById("mySidebar").style.width = "100%";
document.getElementById("mySidebar").style.display = "block";

$.getJSON('/saved-location-forecast-json', function(json){
        // console.log(json);
        // console.log(json['features'][0]['properties']['cloud'])
let start = `<table class="table table-hover" id="ordertable"><thead><tr>
      <th scope="col">Location</th>
      <th scope="col">Light value</th>
      <th scope="col">Saved Date</th>
      <th scope="col">Weather Forecast</th>
      <th scope="col">Cloud Cover</th>
      <th scope="col">Moonphase</th>
      <th scope="col">PlaceHolder</th>
    </tr></thead><tbody>`
let end = `</tbody></table>`
let input = ``
for (loc in json['features']) {
    input += `<tr><th scope="row">${json['features'][loc]['properties']['name']}</th>
      <td>${json['features'][loc]['properties']['light']}</td>
      <td>${moment(parseInt(json['features'][loc]['properties']['timestamp'])*1000).format('MMM Do (ddd)')}</td>
      <td>${json['features'][loc]['properties']['summary']}</td>
      <td>${json['features'][loc]['properties']['cloud']}</td>
      <td>${json['features'][loc]['properties']['moon']}</td>
      <td>PLACEHOLDER</td>
    </tr>`
}

input = start+input+end
// console.log(input);
// document.getElementById("testThis").innerhtml = input;
$("#testThis").html(input);

$(document).ready(function() {
    $('#ordertable').DataTable();
});
console.log("end of script")

});        
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
     

<form action="/userlocation" method="POST">
  Location lat: <input type="text" name="lat"><br>
  Location lng: <input type="text" name="lng"><br>
  <input type="submit" value="Submit">
</form>


<figure class="icons">
        <canvas id="clear-day" width="64" height="64">
        </canvas>

        <canvas id="clear-night" width="64" height="64">
        </canvas>

        <canvas id="partly-cloudy-day" width="64" height="64">
        </canvas>

        <canvas id="partly-cloudy-night" width="64" height="64">
        </canvas>

        <canvas id="cloudy" width="64" height="64">
        </canvas>

        <canvas id="rain" width="64" height="64">
        </canvas>

        <canvas id="sleet" width="64" height="64">
        </canvas>

        <canvas id="snow" width="64" height="64">
        </canvas>

        <canvas id="wind" width="64" height="64">
        </canvas>

        <canvas id="fog" width="64" height="64">
        </canvas>
      </figure>

<script src="https://darkskyapp.github.io/skycons/skycons.js"></script>
<script>
    var icon = new Skycons();
    icon.set("clear-day","clear-day");
    icon.play();


//       var icons = new Skycons(),
//           list  = [
//             "clear-day", "clear-night", "partly-cloudy-day",
//             "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
//             "fog"
//           ],
//           i;

      // for(i = list.length; i--; )
      //   icons.set(list[i], list[i]);

//       icons.play();


    </script>


</body>


{% endblock %}