{% extends 'base.html' %}
{% block content %}


<!-- <h5>This is the homepage - testing routes</h5> -->


 <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 75%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
  </head>
  <body>
    
    <div id="map"></div>
<!--     <button type="button" class="btn btn-info btn-sm" id="mysaved">Show saved records</button>
    <button type="button" class="btn btn-info btn-sm" id="hidesaved">Hide saved records</button> -->
    <!-- <button type="button" class="btn btn-info btn-sm" id="myloc">Show my weather</button> -->
    <div class="card-group" id="weather"></div>

    <input id="pac-input" class="controls" type="text" placeholder="Search Location">
    <figure class="icons">
        <canvas id="icon" width="64" height="64"></canvas>
    </figure>

   

    <script src="https://darkskyapp.github.io/skycons/skycons.js"></script>

    <script>
      let ds_key = {{ds_key|tojson}}
      let gmap_key = {{gmap_key|tojson}}

      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.368, lng: -122.036346},
          zoom: 5,
          mapTypeId: 'Night',
          mapTypeControlOptions: {
            mapTypeIds: ['Night', 'roadmap', 'satellite'],
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
          },
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }]

        });
      // var marker = new google.maps.Marker({position: {lat: 37.368, lng: -122.036346}, map: map});

      // ***** Testing kml overlay with an example template *****

      // var TILE_URL = 'http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg';
      var TILE_URL = 'https://github.com/kjco/stargazing-optimizer/raw/master/static/jpg_tiles/{z}/{x}/{y}.png'

      // Name the layer anything you like.
      var layerID = 'Night';

      // Create a new ImageMapType layer.
      var layer = new google.maps.ImageMapType({
        name: layerID,
        getTileUrl: function(coord, zoom) {
          console.log(coord);
          var url = TILE_URL
            .replace('{x}', coord.x)
            .replace('{y}', Math.pow(2,zoom)-coord.y-1)
            .replace('{z}', zoom);
          // console.log(url);
          return url;
        },
        tileSize: new google.maps.Size(256, 256),
        minZoom: 3,
        maxZoom: 7,
      });

      function getNormalizedCoord(tile, zoom) {
        var tileRange = 1 << zoom;
        if(tile.y < 0 || tile.y >= tileRange)
          return null;
        return { x: (tile.x % tileRange + tileRange) % tileRange, y: tile.y };
      }

      var transparentMapType = new google.maps.ImageMapType({
        getTileUrl: function(tile, zoom) {
          tile = getNormalizedCoord(tile, zoom);
          if(!tile)
            return null;
          return "https://mts1.google.com/vt/v=apt.116&hl=se&x=" + tile.x + "&y=" + tile.y + "&z=" + zoom + "&s=G&lyrs=m";
        },
        tileSize: new google.maps.Size(256, 256),
        isPng: false,
        maxZoom: 20,
        name: "Transparent map",
        opacity: 0.2,
      });

      var transparentLabelsType = new google.maps.ImageMapType({
        getTileUrl: function(tile, zoom) {
          tile = getNormalizedCoord(tile, zoom);
          if(!tile)
            return null;
          return "https://mts0.google.com/vt/v=apt.116&hl=se&x=" + tile.x + "&y=" + tile.y + "&z=" + zoom + "&s=G&lyrs=h";
        },
        tileSize: new google.maps.Size(256, 256),
        isPng: false,
        maxZoom: 20,
        name: "Transparent labels",
      });
      // Register the new layer, then activate it.
      map.mapTypes.set(layerID, layer);
      map.setMapTypeId(layerID);
      // map.overlayMapTypes.insertAt(0, transparentMapType);
      map.overlayMapTypes.insertAt(0, transparentLabelsType);


      // var kmlLayer = new google.maps.KmlLayer({
      //   url: 'https://raw.githubusercontent.com/kjco/stargazing-optimizer/master/static/jpg_tiles/doc.kml',
      //   map: map
      //   });

      // kmlLayer.setMap(map);

      // ********** TESTING **********

              // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });



      // ********** TESTING **********


      let d_infow = new google.maps.InfoWindow();

      // Loading geojson format files from route and showing on map

      $.getJSON('/locations.json', function(data) {
        map.data.addGeoJson(data);
        map.data.setStyle({
          icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"
        });

      });
      // map.data.loadGeoJson('/locations.json');
      // map.data.setStyle({
      //     icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"
      //   });
      // Add event listener that shows info window (latlng info) on click
      var elementExists = document.getElementById('mysaved');

      map.data.addListener('click', function(e) {
        console.log(e.latLng.toString());
        console.log(e);
        var divHeightOfTheMap = document.getElementById('map').clientHeight;
        var offSetFromBottom = 30;
        map.setCenter(e.latLng);
        map.panBy(0, -(divHeightOfTheMap / 2 - offSetFromBottom));
        d_infow.setContent(`${e.latLng.toString()}`);
        d_infow.setPosition(e.latLng);
        d_infow.open(map);

        let url = `https://api.darksky.net/forecast/${ds_key}/${e.latLng.lat()},${e.latLng.lng()}?callback=?`
        console.log(url)
        $.getJSON(url, function(json) {
          console.log(json);
          console.log(json['daily']['data'][0]['summary']);
          let date = moment(parseInt(json['currently']['time'])*1000);  //using moment library to make object
          console.log(date.format('MMMM Do YYYY, h:mm:ss a'));
          console.log(date.format('MMMM Do YYYY'));
          var x;
          // let txt = `Current time: ${date.format('MMMM Do YYYY, h:mm:ss a')}<br><br><div id="container">`;
          var head = `<table class="table table-hover"><thead><tr><th scope="col">Day</th><th scope="col">Summary</th> <th scope="col">Clouds</th><th scope="col">Moonphase</th><th scope="col">Save</th></tr></thead><tbody>`;
          let body = ``
          // $('#weather').html(`<h5>Time: ${date}</h5><h5>Weather: ${json['currently']['summary']}</h5>`)
          for (x in json['daily']['data']) {

            let timestamp = json['daily']['data'][x]['time']
            // txt += `<div class="pane"><li>DateTime: ${moment(parseInt(timestamp)*1000).tz(json['timezone']).format('MMMM Do YYYY, dddd')} (${json['timezone']})</li>
            //        <li>Summary: ${json['daily']['data'][x]['summary']}</li>
            //        <li>Cloud cover: ${json['daily']['data'][x]['cloudCover']}</li>
            //        <li>Moon phase: ${json['daily']['data'][x]['moonPhase']}</li>
            //        <button type="button" class="savetime" data-time="${timestamp}">Save</button><br><br></div>`;

            body += `<tr><th scope="row">${moment(parseInt(timestamp)*1000).tz(json['timezone']).format('MMM Do (ddd)')}</th><td>${json['daily']['data'][x]['summary']}</td><td>${json['daily']['data'][x]['cloudCover']}</td><td>${json['daily']['data'][x]['moonPhase']}</td><td><button type="button" class="savetime" data-time="${timestamp}">Save</button></td></tr>`

          }
          // txt = txt+"</div>"
          head = head+body+"</tbody></table>"
          // document.getElementById("weather").innerHTML = txt;
          d_infow.setContent(`<h5>${e.feature.f['name']}</h5><strong>Light value: ${e.feature.f['light']}</strong><br>GeoCoordinates: ${e.latLng.toString()}<br><br>${head}`);

          // Setup event listener to post timestamp info stored in button and latlng info from event

          $('.savetime').click(function() {
            console.log($(this).attr('data-time'));
            console.log(e.latLng.lat());
            if (elementExists) {
            let info = {'lat': e.latLng.lat(), 'lng': e.latLng.lng(), 'timestamp': $(this).attr('data-time')}
            $.post("/save-json", info, function(data) { alert(data); });
            document.getElementById('hidesaved').click();
            document.getElementById('mysaved').click();
            } else {
              alert("Please login to use this feature!")
            }

          });
          


          // $('button').click(function(){
          //   console.log($(this).attr('data-time'))
          //   console.log(e.latLng.lat())

          //   let info = {'lat': e.latLng.lat(), 'lng': e.latLng.lng(), 'timestamp': $(this).attr('data-time')}
          //   $.post("/save-json", info, function(data) { console.log(data); })
          // });

        });
      });

      // Place marker on click

      map.addListener('click', function(e) {
      placeMarker(e.latLng, map);
      });


      // Try to load user saved data  

      // var elementExists = document.getElementById('mysaved');

      if (elementExists){    

      let s_infow = new google.maps.InfoWindow();
      let saved_b = document.querySelector('#mysaved');
      let hide_b = document.querySelector('#hidesaved');

      hide_b.addEventListener('click', function() {data1.setMap(null)});

      saved_b.addEventListener('click', function() {
          // map.data.setMap(null);
          // $.getJSON('/myrecords.json', function(data) {console.log(data);});
          data1 = new google.maps.Data();
          data1.loadGeoJson('/myrecords.json');
          data1.setMap(map);
          data1.setStyle({icon: "http://maps.google.com/mapfiles/ms/micons/yellow.png"});
          console.log("loaded my saved");

          data1.addListener("mouseover", function(evt) {
            console.log(evt);

            let url1 = `https://api.darksky.net/forecast/${ds_key}/${evt.latLng.lat()},${evt.latLng.lng()},${evt.feature.f["timestamp"]}?callback=?`

            $.getJSON(url1, function(json) { 
                  // TEST THIS
                infotxt = `<strong>${evt.feature.f["name"]}</strong>  (Light value: ${evt.feature.f["light"]})<br><br><div class="saved-entries">
                Saved date: ${moment(parseInt(evt.feature.f["timestamp"])*1000).tz(json['timezone']).format('MMMM Do YYYY, dddd')} (${json['timezone']})<br>
                Cloud cover: ${json['daily']['data'][0]['cloudCover']}<br>
                MoonPhase: ${json['daily']['data'][0]['moonPhase']}<br><button type="button" class="deletesaved" deleteid="${evt.feature.f["saved_id"]}">Remove</button></div><br><br>
                <form>Rate this location: 
                      <input type="radio" name="rating" value="1"> 1 
                      <input type="radio" name="rating" value="2"> 2 
                      <input type="radio" name="rating" value="3"> 3 
                      <input type="radio" name="rating" value="4"> 4 
                      <input type="radio" name="rating" value="5"> 5 </form>`

                s_infow.setPosition(evt.latLng);
                s_infow.setContent(infotxt)
                s_infow.open(map);
                console.log(evt.feature.f["timestamp"]);
                console.log(evt.feature.f["loc_id"])
                console.log(evt.feature.f["saved_id"])

                $('.deletesaved').click(function() {
                  delete_info = {"saved_id": $(this).attr('deleteid')}
                  $.post('/delete-record', delete_info, function(response) {
                    alert(response);
                  });
                  $(this).parent().remove();
                  document.getElementById('hidesaved').click();
                  document.getElementById('mysaved').click();

                });

                $('[type*="radio"]').change(function() {

                  formInput = {"score": $(this).attr('value'), "saved_id": evt.feature.f["saved_id"]}

                  console.log($(this).attr('value'))
                  $.post('/rating-json', formInput, function(data){
                    alert(data);

                  });
                });

            });


          });


          // data1.setMap(null);
          // console.log("removed my saved");

          // $.getJSON('/myrecords.json', function(data) {
          //     console.log("Test this")
          //     map.data.addGeoJson(data);
          //     map.data.setStyle({
          //       icon: "http://maps.google.com/mapfiles/ms/micons/yellow.png"
          //     });
          //   });

              // map.data.loadGeoJson('/myrecords.json');
              // map.data.setStyle({
              // icon: "http://maps.google.com/mapfiles/ms/micons/yellow.png"
              // });
      });
      // hide_b.addEventListener('click', function() {data1.setMap(null)});
    };



      // Generate info window that shows current location

      infoWindow = new google.maps.InfoWindow;

      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found');
            infoWindow.open(map);
            map.setCenter(pos);

            // Pass current position info to button 
            // let button = document.querySelector('#myloc');
            // button.addEventListener('click', function(e) {
              console.log('Button clicked and listened for event');
              console.log(pos);
              console.log(pos.lat);
              console.log(pos.lng);
              let url = `https://api.darksky.net/forecast/182208326a8cfd708f594c9b45e646b3/${pos.lat},${pos.lng}?callback=?`
              console.log(url)
              $.getJSON(url, function(json) {
                console.log(json);
                console.log(json['daily']['data'][0]['summary']);
                let date = new Date(parseInt(json['currently']['time'])*1000)
                var x;
                // let txt = `Current time: ${date}<br><br><div id="container">`;
                let txt2 = ``
                let icon_lst = []
                let count = 0

                // $('#weather').html(`<h5>Time: ${date}</h5><h5>Weather: ${json['currently']['summary']}</h5>`)
                for (x in json['daily']['data']) {
                  // let dt = new Date(parseInt(json['daily']['data'][x]['time']))
                  // txt += `<div class="pane"><li>DateTime: ${new Date(parseInt(json['daily']['data'][x]['time'])*1000)}</li>
                  //        <li>Summary: ${json['daily']['data'][x]['summary']}</li>
                  //        <li>Cloud cover: ${json['daily']['data'][x]['cloudCover']}</li>
                  //        <button class="save">Save</button><br><br></div>`;
                  txt2 += `<div class="card">
                          <div class="card-body">
                            <h6 class="card-title">${moment(parseInt(json['daily']['data'][x]['time'])*1000).format('dddd')}</h6>
                            <figure class="icons"><canvas id="${json['daily']['data'][x]['icon']}${count}" width="64" height="64"></canvas></figure>
                            <p class="card-text">${json['daily']['data'][x]['summary']}</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted"><i class="fas fa-cloud"></i> ${json['daily']['data'][x]['cloudCover']}%<br><i class="fas fa-moon"></i> ${json['daily']['data'][x]['moonPhase']}</small>
                          </div>
                        </div>`;
                  count = count + 1;
                  icon_lst.push(json['daily']['data'][x]['icon']);
                  // console.log(icon_lst)
                };

                document.getElementById("weather").innerHTML = txt2;

                var icons = new Skycons(), i;
                for(i = icon_lst.length; i--; )
                  icons.set(`${icon_lst[i]}${i}`,icon_lst[i]);
                icons.play();

                // container.onclick = function(e){
                //   if (e.target.className != 'save') return;

                //   let pane = e.target.closest('.pane');
                //   console.log(pane);
                //   console.log(pane.getElementsByTagName("li")[0].innerHTML)
                // }

              });

            // });

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      } // last curly bracket for init map function

      

    // This function places new marker on map and posts latlng coordinates to server
    function placeMarker(position, map) {
      var marker = new google.maps.Marker({
          position: position,
          map: map
      });
      map.panTo(position);
      marker.addListener('click', function(e) {
        var light_val;

        $.post('/lightinfo', {"lat": e.latLng.lat(), "lng": e.latLng.lng()}, function(data) {
            console.log(data)
            light_val = data

            var new_infow = new google.maps.InfoWindow();
            var text = `<div id="form"><table>
          <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
          <tr><td>Description:</td> <td><input type='text' id='describe'/> </td> </tr>
          <tr><td></td><td><input type='button' value='Save' id='newloc'/></td></tr>
          </table></div>`

            new_infow.setContent(`${e.latLng.toString()}<br>Light value: ${data}<br>${text}`);
            new_infow.setPosition(e.latLng);
            new_infow.open(map);
            console.log(e)

            google.maps.event.addListener(new_infow, 'closeclick', function(){
              marker.setMap(null);
            });

            $("#newloc").on("click", function(evt) {

                let formInputs = {"lat": e.latLng.lat(),
                                  "lng": e.latLng.lng(),
                                  "name": $("#name").val(),
                                  "desc": $("#describe").val()}
                $.post("/markercoord", formInputs, function(d) { 
                  alert(d); 
                  new_infow.close();
                  marker.setMap(null) 
                  map.data.loadGeoJson('/locations.json');
                });

          });


        });





        
        // var coord = e.latLng.toJSON()
        // console.log(coord)        
        // $.post( "/markercoord", e.latLng.toJSON());
        // $.post( "/markercoord", {coord_data: coordstr})
      });
      // let coordlat = marker.getPosition().lat();
      // let coordlng = marker.getPosition().lng();
      // coord = `${coordlat},${coordlng}`
      // console.log([coordlat, coordlng])
      // $.post( "/markercoord", {coord_data: coord});
    }



      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);  
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&libraries=places&callback=initMap"
    async defer></script>


  </body>








{% endblock %}